@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('all.css');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    box-sizing: border-box;
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body{
    background-color: #50a88e;
}
.container{
    
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10% 0;
}

.container h1{
    text-transform: uppercase;
    width: max-content;
    font-size: 40px;
    padding-bottom: 10px;
}

.container ul{
    width: 30%;
}

.container ul li{
    padding: 10px 0;
    transition: all 0.2s ease-out;
}

.container ul li a{
    font-size: 23px;
    text-transform: capitalize;
    transition: all 0.2s ease-out;
}

.container ul li:hover{
    background-color: white;
}

.container ul li a:hover{
    color: black;
}