@import url('https://fonts.googleapis.com/css2?family=Poppins');
@import url('all.css');


*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
    color: inherit;
    box-sizing: border-box;
    background: none;
    border: none;
    font-family: 'Poppins', sans-serif;
    --green: #5FA800;
    --black: #333333;
    --grey: #858585;
    --whitish: #E1E1E1;
}

html{
    font-size: 16px;
}


                /* navbar top part  */
.top{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
    border-bottom: 1px solid var(--grey);
    color: var(--grey);
}

.top *{
    font-size: 0.95em;
}

.top p{
    text-transform: capitalize;
}

.top p span{
    color: black;
    font-weight: bold;
}

.top ul{
    display: flex;
    list-style: none;
    text-transform: uppercase;
}

.top ul li{
    margin-left: 20px;
    display: grid;
    place-items: center;
}

.top ul li select{
    text-transform: uppercase;
}

                /* navbar middle part  */
.middle{
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}

.search{
    display: flex;
    justify-content: center;

    max-width: 75%; /* solution */
}

.search input{
    width: 850px;
    border: 1px solid var(--green);
    padding: 5px 10px;
}

.search input::placeholder{
    font-size: 11px;
}

.search button{
    border: none;
    background: url(../images/search.png) no-repeat center var(--green);
    width: 50px;
    height: 32.4px;
}

.middle > img{
    width: 70px;
}

.like-cart,.heart, .cart{
    display: flex;
}

.like-cart{
    gap: 25px;
}

.heart , .cart{
    position: relative;
}

.like-cart .fa-solid {
    font-size: 1.65em;
}

.like-cart > p:last-child, input[name=overlay-search] , .like-cart .search-toggle{
    display: none;
}

.heart > p:nth-child(2), .cart > p:nth-child(2){
    position: absolute ;
    font-size: 11px;
    color: white;
    background-color: var(--green);
    border-radius: 50%;
    width: 18px;
    height: 18px;
    text-align: center;
    left: 23px;
    top: -5px;
}

.menu-toggle{
    display: none;
}


                /* navbar bottom part */
.bottom{
    background-color: var(--black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;
    color: white;
}

.left ul{
    display: flex;
    padding: 0;
    align-items: center;
    text-transform: uppercase;
    font-size: 12px;
    gap: 20px;
}

.left ul li:not(:first-child){
    padding-right: 20px;
    border-right: 1px solid var(--grey);
    transition: all 250ms ease-in;
    transform-origin: left;
}

.left ul li:nth-child(2){
    padding-left: 20px;
    border-left: 1px solid var(--grey);
}

.left ul li:not(:first-child):hover{
    color: var(--green);
}

.left select{
    background:url(../images/down-arrow.png) no-repeat var(--green);
    background-position: 170px 16px;
    font-size: 14px;
    text-transform: capitalize;
    padding: 10px 50px 10px 30px;
    appearance: none;
}

.right{
    display: flex;
    align-items: center;
    font-size: 12px;
    gap: 15px;
}

.right img{
    width: 22px;
    height: 22px;
}

.right p:first-child{
    color: var(--green);
    text-transform: capitalize;
}


/* path link  */
.path-link{
    display: flex;
    font-size: 14px;
    width: 90%;
    margin: 4px auto;
    gap: 15px;
    text-transform: capitalize;
    
}

.path-link p:nth-child(2){
    color: var(--green);
}



/* main */
.main{
    background: url(../images/header.png) no-repeat;
    background-size: cover;
    height: 730px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-rows: 400px; */
    place-content: center;
    place-items: center;
}

.form{
    grid-column: 2 /3;
    width: 100%;
}

.main .form > form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #333333b9;
    padding: 25px 20px;
    width: 75%;
    color: white;
    margin: 15% auto;
}

.main .form >  form h3{
    text-transform: capitalize;
    font-size: 26px;
}

.main .form >  form p{
    font-size: 12px;
    margin-bottom: 15px;
}

.main .form > form input{
    margin: 10px 0;
    padding: 5px 10px;
    border-radius: 3px;
    width: 100%;
    border: 2px solid white;
}

.main .form > form input::placeholder{
    font-size: 12px;
    text-transform: capitalize;
    color: white;
    opacity: 0.8;
}

.main .form > form button{
    margin-top: 10px;
    background-color: var(--green);
    width: 100%;
    padding: 4px 0;
}

.already-registered{
    display: flex;
    flex-direction: column;
    justify-content: center;
    grid-column: 3 / 4;
    gap: 5px;
    width: 70%;
    margin-right: 20%;
}

.already-registered h3{
    font-size: 14px;
    align-self: center;
}

.already-registered button{
    width: 100%;
    border: 2px solid var(--green);
    color: var(--green);
    text-transform: capitalize;
    font-weight: bold;
    padding: 5px 0;
}

.already-registered p{
    font-size: 11px;
}

.already-registered p:nth-child(1), .already-registered span{
    color: var(--green);
}



/* footer  */

footer header{
    display: flex;
    justify-content: space-between;
    background-color: #222222;
    padding: 40px 5%;
}

                /* footer left  */
.left-top{
    display: grid;
    /* grid-template-columns: 250px 180px 200px 150px 120px; */
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr; /*solution*/
    width: 60%; /*solution*/
    font-size: 12px;
    color: #858585;
}

.left-top div:not(:first-child){
    text-transform: capitalize;
}

.left-footer img{
    width: 70px;
}

.left-footer p{
    width: 167px;
}

.left-top h4{
    color: white;
    margin-bottom: 10px;
}

.left-top li:hover{
    color: var(--green);
    text-decoration: underline;
}

                /* footer right */
.right-footer{
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    width: 285px;
}

.right-footer p:nth-child(2){
    font-size: 12px;
    color: #858585;
    margin-bottom: 10px;
}

.enter-email{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.enter-email input{
    background-color: #fff;
    width: 90%;
    padding: 5px;
    border-radius: 3px 0 0 3px;
}

.enter-email button{
    border: none;
    background: url(../images/search.png) no-repeat center var(--green);
    width: 10%;
    height: 30px;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
}

.social-group{
    display: grid;
    grid-template-columns: repeat(4, 25px);
    gap: 10px;
}

.social{
    height: 25px;
    background-color: white;
    border-radius: 2px;
    cursor: pointer;
}

.social:nth-child(1){
    background: url(../images/whatsapp.png) no-repeat center white;
    background-size: 20px;
}
.social:nth-child(2){
    background: url(../images/facebook.png) no-repeat center white;
    background-size: 20px;
}
.social:nth-child(3){
    background: url(../images/linkedin.png) no-repeat center white;
    background-size: 20px;
}
.social:nth-child(4){
    background: url(../images/twitter.png) no-repeat center white;
    background-size: 20px;
}

footer footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 9px;
    padding: 0 5%;
    color: white;
    background-color: var(--green);
}
.footer-toggle{
    display: none;
}



@media (max-width:900px){
    .top, .middle, .bottom{
        width: 95%;
    }

    html{
        font-size: 20px;
    }

    /* navbar top part */
    .top{
        justify-content: flex-end;
    }
    
    .top > p:nth-child(1), .top ul li:nth-child(1), .top ul li:nth-child(2){
        display: none;
    }

    .search{
        display: none;
    }


    /* navbar middle part */
    
    .like-cart .fa-solid {
        font-size: 1.25em;
    }
    
    .like-cart{
        gap: 15px;
    }

    .like-cart > p:first-child, .like-cart > p:last-child{
        display: block;
    }

    .heart > p:nth-child(2), .cart > p:nth-child(2){
        font-size: 0.625em;
        width: 14px;
        height: 14px;
        left: 13px;
    }

    .overlay-search{
        display: flex;
        display: none;
        justify-content: center;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--green);
        z-index: 2;

        /* glassy design */
        background: rgba(48, 255, 48, 0.685);
        box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
        backdrop-filter: blur( 2.5px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );

    }

    input[name=overlay-search]{
        display: inline;
        width: 80%;
        border-radius: 10px;
        height: max-content;
        background-color: #fff;
        padding: 1.2em 1em;
        margin: 8em 0 0.9em 0;
        border: none;
    }

    #label-toggle{
        display: none;
        position: absolute;
        top: 8%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 1.5em;
        z-index: 3;
        color: #313030;
    }

    input[name=overlay-search]:focus{
        outline: none;
        border: 2px solid #5fa800a2;
    }


    .like-cart .search-toggle{
        display: inline-block;
    }

    input[name=search-toggle]{
        display: none;
    }

    input[name=search-toggle]:checked ~ .overlay-search{
        display: flex;
    }

    input[name=search-toggle]:checked ~ #label-toggle{
        display: inline-block;
    }

    .menu-toggle{
        display: block;
    }

    .menu-toggle input{
        display: none;
    }

    .menu-toggle ul{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 10%;
        text-transform: uppercase;
        position: absolute;
        top: 12%;
        left: -100%;
        transition: all 300ms ease-in;


        background: #5FA800;
        backdrop-filter: blur( 7px );
        border: 1px solid rgba( 255, 255, 255, 0.18 );
        
    }
 
    .menu-toggle input[name=menu-toggle]:checked ~ ul{
        left: 50%;
        transform: translateX(-50.1%);
    }

    .menu-toggle ul li{
        width: 100%;
        padding: 10px 0;
        text-align: center;
    }

    .menu-toggle ul li:hover{
        background-color: var(--green);
        color: white;
    }

    .bottom{
        background-color: inherit;
        padding: 0;
        margin: auto auto;
    }

    .bottom .left, .bottom .left ul li, .left select{
        width: 100%;
    }

    .bottom .left ul li:first-child ~ *{
        display: none;
    }

    .bottom .left ul li :first-child select{
        width: 100%;
    }

    .bottom .right{
        display: none;
    }

    .bottom .left select{
        font-size: 1.5em;
    }

    .bottom .left select .selected{
        width: 20%;
    }

    .bottom .left select{
        background-position: 95% 20px;
    }


    /* main media */
    .main{
        background-image: none;
        grid-template-columns: 1fr;
        height: auto;
    }

    .main .form{
        background-image: url(../images/header.png);
        background-position: -470px;
    }

    .main .form > form{
        
        grid-column: auto;
    }

    .main > div{
        grid-column: auto;
        margin: auto;
    }

    .main > div:last-child{
        margin: 15% auto;
    }

    footer header .left-top{
        grid-template-columns: auto;
    }

    footer > header{
        flex-direction: column;
    }

    footer > header .left-footer ~ div{
        display: none;
    }

    footer header .footer-toggle{
        display: block;
    }


    /* footer-toggle */
    footer header .footer-toggle{
        padding: 15px 0;
    }

    footer header .footer-toggle .menu{
        border-bottom: 2px solid rgba(165, 165, 165, 0.473);
        margin-bottom: 10px;
    }

    footer header .footer-toggle .menu *{
        color: var(--grey);
        font-size: 0.8em;
    }

    footer header .footer-toggle .menu label{
        display: block;
        position: relative;
        /* background-color: rgb(124, 124, 124); */
        text-transform: capitalize;
    }

    footer header .footer-toggle .menu label .fa-minus{
        display: none;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2%;
    }

    footer header .footer-toggle .menu label .fa-plus{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2%;
    }

    footer header .footer-toggle .menu input{
        display: none;
    }

    footer header .footer-toggle .menu ul{
        display: none;
    }

    footer header .footer-toggle .menu input:checked ~ ul{
        display: block;
        padding: 10px 0;
        padding-left: 20px;
        text-transform: capitalize; 
    }

    footer header .footer-toggle .menu input:checked ~ label .fa-plus{
        display: none;
    }

    footer header .footer-toggle .menu input:checked ~ label .fa-minus{
        display: inline-block;
    }

    footer header .footer-toggle .menu ul li{
        font-size: 1.1em;
    }

    footer header .footer-toggle .menu ul li:not(:first-child){
        padding-top: 5px;
    }

    footer header .footer-toggle .menu ul li a{
        color: #b9ce9d;
    }

    footer > footer p{
        font-size: 1.2em;
        padding: 5px 0;
    }
}